<?xml version="1.0" encoding="utf-8" ?>
<appStatic>
	<!-- 
  ********************************************************************** 
  APP - Default
  ********************************************************************** 
  -->

	<add key="APP_DEFAULT_DATETIME_FORMAT" value="yyyy-MM-ddTH:mm:ss.fffZ"/>

	<!-- 
  ********************************************************************** 
  APP - Miscellaneous
  ********************************************************************** 
  -->
	<add key="APP_CONFIG_RESOURCES_MAP_PATH" value="~/Resources/Config" />
	<add key="APP_CONFIG_SERVER_JSON_PATH" value="\config.json" />
	<add key="APP_CONFIG_GLOBAL_JSON_PATH" value="\config.json" />

	<!--
 **********************************************************************
  APP - Cache 
  **********************************************************************
  -->
	<add key="APP_CACHE_FLUSH_ATTRIBUTE" value="CacheFlush" />

	<!-- 
  **********************************************************************
  APP - Regular Expressions
  **********************************************************************
  -->
	<add key="APP_REGEX_URL_DOMAIN" value="(\w+\.+|^){DOMAIN}$" />
	<!--
  **********************************************************************
  PAGE LOADING
  **********************************************************************
  -->
	<!-- Maximum wait time in milliseconds -->
	<add key="APP_MAX_WAIT_TIME" value="60000" />
	<!-- Time to sleep before page load check -->
	<add key="APP_WAIT_TIME" value="500" />
	<!-- Javascript method for high chart fix -->
	<add key="METHOD_FOR_HIGH_CHART_FIX" value="return t4Sdk.high_chart_fix.fixSVG4pdf_delay2" />
</appStatic>
